.ant-select-selector{
    height: 100% !important;
    border: none !important;
    box-shadow: none !important;
    padding: 5px 32px 0 16px !important;
    border-radius: 20px !important;
}

.ant-select-arrow{
    margin-right: 6px !important;
}